In [22]:
%pip install nbformat

Requirement already satisfied: nbformat in c:\users\aravind chirshtopher\appdata\local\programs\python\python312\lib\site-packages (5.10.4)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: fastjsonschema>=2.15 in c:\users\aravind chirshtopher\appdata\local\programs\python\python312\lib\site-packages (from nbformat) (2.19.1)
Requirement already satisfied: jsonschema>=2.6 in c:\users\aravind chirshtopher\appdata\local\programs\python\python312\lib\site-packages (from nbformat) (4.21.1)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\aravind chirshtopher\appdata\roaming\python\python312\site-packages (from nbformat) (5.4.0)
Requirement already satisfied: traitlets>=5.1 in c:\users\aravind chirshtopher\appdata\roaming\python\python312\site-packages (from nbformat) (5.11.2)
Requirement already satisfied: attrs>=22.2.0 in c:\users\aravind chirshtopher\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\aravind chirshtopher\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\aravind chirshtopher\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (0.34.0)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\aravind chirshtopher\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (0.18.0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\aravind chirshtopher\appdata\roaming\python\python312\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (3.11.0)
Requirement already satisfied: pywin32>=300 in c:\users\aravind chirshtopher\appdata\roaming\python\python312\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (306)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [23]:
import pandas as pd
import psycopg2
import plotly.express as px
import requests
import json

In [3]:
#SQL connection

mydb= psycopg2.connect(host="localhost",
                       user= 'postgres',
                       database="phonepe-dataset",
                       password="Aravind#123",
                       port="5432")
cursor=mydb.cursor()

#aggre_insurance_df

cursor.execute("SELECT * FROM aggregated_insurance")
mydb.commit()
table1=cursor.fetchall()

Aggre_insurance=pd.DataFrame(table1, columns=("States", "Years", "Quarter","Transaction_type","Transaction_count","Transaction_amount"))   


#aggre_transaction_df

cursor.execute("SELECT * FROM aggregated_transaction")
mydb.commit()
table2=cursor.fetchall()

Aggre_transaction=pd.DataFrame(table2, columns=("States", "Years", "Quarter","Transaction_type","Transaction_count","Transaction_amount"))



#aggregated_user_df

cursor.execute("SELECT * FROM aggregated_user")
mydb.commit()
table3=cursor.fetchall()

Aggre_user=pd.DataFrame(table3, columns=("States", "Years", "Quarter","Brands","Transaction_count","Percentage"))


#map_insurance_df

cursor.execute("SELECT * FROM map_insurance")
mydb.commit()
table4=cursor.fetchall()

map_insurance=pd.DataFrame(table4, columns=("States", "Years", "Quarter","Districts","Transaction_count","Transaction_amount"))

#map_transaction_df

cursor.execute("SELECT * FROM map_transaction")
mydb.commit()
table5=cursor.fetchall()

map_transaction=pd.DataFrame(table5, columns=("States", "Years", "Quarter","Districts","Transaction_count","Transaction_amount"))

#map_user_df

cursor.execute("SELECT * FROM map_user")
mydb.commit()
table6=cursor.fetchall()

map_user=pd.DataFrame(table6, columns=("States", "Years", "Quarter","Districts","RegisteredUsers","AppOpens"))


#top_insurance_df

cursor.execute("SELECT * FROM top_insurance")
mydb.commit()
table7=cursor.fetchall()

top_insurance=pd.DataFrame(table7, columns=("States", "Years", "Quarter","Pincodes","Transaction_count","Transaction_amount"))


#top_transaction_df

cursor.execute("SELECT * FROM top_transaction")
mydb.commit()
table8=cursor.fetchall()

top_transaction=pd.DataFrame(table8, columns=("States", "Years", "Quarter","Pincodes","Transaction_count","Transaction_amount"))

#top_user_df

cursor.execute("SELECT * FROM top_user")
mydb.commit()
table9=cursor.fetchall()

top_user=pd.DataFrame(table9, columns=("States", "Years", "Quarter","Pincodes","RegisteredUsers"))

In [4]:
#Transaction_Year_Based

def Transaction_amount_count_Y(df, year):

    tacy=df[df["Years"]==year]
    tacy.reset_index(drop= True, inplace=True)

    tacyg=tacy.groupby("States")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_amount= px.bar(tacyg, x="States", y="Transaction_amount", title=f" {year} TRANSACTION AMOUNT", color_discrete_sequence=px.colors.sequential.Agsunset,height= 650, width= 600)
    fig_amount.show()

    fig_count= px.bar(tacyg, x="States", y="Transaction_count", title=f" {year} TRANSACTION COUNT", color_discrete_sequence=px.colors.sequential.amp_r,height= 650, width= 600)
    fig_count.show()

    url="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"

    response=requests.get(url)

    data1=json.loads(response.content)

    states_name=[]
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])

    states_name.sort()

    fig_india_1=px.choropleth (tacyg,geojson=data1,locations="States", featureidkey="properties.ST_NM",
                              color="Transaction_amount", color_continuous_scale="viridis", range_color=(tacyg["Transaction_amount"].min(),tacyg["Transaction_amount"].max()),
                                hover_name ="States", title=f"{year} TRANSACTION AMOUNT", fitbounds= "locations",height= 600, width= 600 )
    fig_india_1.update_geos(visible=False)
    
    fig_india_1.show()

    fig_india_2=px.choropleth (tacyg,geojson=data1,locations="States", featureidkey="properties.ST_NM",
                              color="Transaction_count", color_continuous_scale="viridis", range_color=(tacyg["Transaction_count"].min(),tacyg["Transaction_count"].max()),
                                hover_name ="States", title=f"{year} TRANSACTION COUNT", fitbounds= "locations",height= 600, width= 600 )
    fig_india_2.update_geos(visible=False)
    
    fig_india_2.show()

    return tacy

In [5]:
#Transaction_Quarter_Based

def Transaction_amount_count_Y_Q(df, quarter):

    tacy=df[df["Quarter"]==quarter]
    tacy.reset_index(drop= True, inplace=True)

    tacyg=tacy.groupby("States")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_amount= px.bar(tacyg, x="States", y="Transaction_amount", title=f" {tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT", color_discrete_sequence=px.colors.sequential.Agsunset,height= 650, width= 600)
    fig_amount.show()

    fig_count= px.bar(tacyg, x="States", y="Transaction_count", title=f" {tacy ['Years'].min()} YEAR {quarter} QUARTER TRANSACTION COUNT", color_discrete_sequence=px.colors.sequential.amp_r,height= 650, width= 600)
    fig_count.show()

    url="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"

    response=requests.get(url)

    data1=json.loads(response.content)

    states_name=[]
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])

    states_name.sort()

    fig_india_1=px.choropleth (tacyg,geojson=data1,locations="States", featureidkey="properties.ST_NM",
                              color="Transaction_amount", color_continuous_scale="viridis", range_color=(tacyg["Transaction_amount"].min(),tacyg["Transaction_amount"].max()),
                                hover_name ="States", title=f" {tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT", fitbounds= "locations",height= 600, width= 600 )
    fig_india_1.update_geos(visible=False)
    
    fig_india_1.show()

    fig_india_2=px.choropleth (tacyg,geojson=data1,locations="States", featureidkey="properties.ST_NM",
                              color="Transaction_count", color_continuous_scale="viridis", range_color=(tacyg["Transaction_count"].min(),tacyg["Transaction_count"].max()),
                                hover_name ="States", title=f"{tacy ['Years'].min()} YEAR {quarter} QUARTER TRANSACTION COUNT", fitbounds= "locations",height= 600, width= 600 )
    fig_india_2.update_geos(visible=False)
    
    fig_india_2.show()

    return tacy

In [6]:

#Transaction_Types

def Aggre_Tran_Transaction_type(df,state):

    tacy=df[df["States"]==state]
    tacy.reset_index(drop= True, inplace=True)	

    tacyg=tacy.groupby("Transaction_type")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_pie_1=px.pie(data_frame=tacyg,names="Transaction_type", values="Transaction_amount",width=600, title=f" {state.upper()} TRANSACTION AMOUNT")

    fig_pie_1.show()

    fig_pie_2=px.pie(data_frame=tacyg,names="Transaction_type", values="Transaction_count",width=600, title=f" {state.upper()} TRANSACTION COUNT")

    fig_pie_2.show()

In [7]:
#Agrregated_User_analysis_year

def Aggre_user_plot_1(df,year):

    aguy=df[df["Years"]==year]

    aguy.reset_index(drop=True,inplace=True)

    aguyg=pd.DataFrame(aguy.groupby("Brands")[["Transaction_count"]].sum())

    aguyg.reset_index(inplace=True)                            

    fig_bar_1=px.bar(aguyg,x="Brands", y="Transaction_count", title=f" {year} BRANDS AND TRANSACTION COUNT",width=700, color_discrete_sequence=px.colors.sequential.Bluered_r)

    fig_bar_1.show()

    return aguy


#Aggre_user_analysis_quarter

def Aggre_user_plot_2(df,quarter):

    aguyq=df[df["Quarter"]== quarter]

    aguyq.reset_index(drop=True,inplace=True)

    aguyqg=pd.DataFrame(aguyq.groupby("Brands")[["Transaction_count"]].sum())

    aguyqg.reset_index(inplace=True) 

    fig_bar_1=px.bar(aguyqg,x="Brands", y="Transaction_count", title=f"{quarter} QUARTER BRANDS AND TRANSACTION COUNT",width=700, color_discrete_sequence=px.colors.sequential.ice_r)

    fig_bar_1.show()

    return  aguyq

In [8]:
#Agrregated_User_analysis_States

def Agrre_user_plot_3(df,state):

    auyqs=df[df["States"]== state]
    auyqs.reset_index(drop=True, inplace=True)

    fig_scatter_1= px.scatter(auyqs, x= "Brands", y="Transaction_count", hover_data="Percentage", title=f" {state.upper()} BRANDS,TRANSACTION COUNT,AND PERCENTAGE", width=800)

    fig_scatter_1.show()

In [9]:
#Map_Insurance_District

def Map_Insur_District(df,state):

    tacy=df[df["States"]==state]
    tacy.reset_index(drop= True, inplace=True)	

    tacyg=tacy.groupby("Districts")[["Transaction_count","Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_bar_1=px.bar(tacyg,y="Districts", x="Transaction_amount", orientation= "h", title=f" {state.upper()} STATE DISTRICT WISE TRANSACTION AMOUNT", 
                     width=1000,color_discrete_sequence=px.colors.sequential.Jet)

    fig_bar_1.show()

    fig_bar_2=px.bar(tacyg,y="Districts", x="Transaction_count", orientation= "h", title=f" {state.upper()} STATE DISTRICT AND TRANSACTION COUNT", 
                     width=1000,color_discrete_sequence=px.colors.sequential.Magma_r)

    fig_bar_2.show()

In [10]:
#Map_User

#Map_User_Plot_1

def map_user_plot_1(df,year):
    muy=df[df["Years"]==year]

    muy.reset_index(drop=True,inplace=True)

    muyg=(muy.groupby("States")[["RegisteredUsers","AppOpens"]].sum())

    muyg.reset_index(inplace=True) 

    fig_scatter_1= px.scatter(muyg, x= "States", y=["RegisteredUsers","AppOpens"], 
                            title=f"{year} REGISTERED USERS AND APP OPENS", width=800, height=800)

    fig_scatter_1.show()

    return muy

In [11]:
#Map_User_Plot_2

def map_user_plot_2(df,quarter):
    
    muyq=df[df["Quarter"]==quarter]

    muyq.reset_index(drop=True,inplace=True)

    muyqg=(muyq.groupby("States")[["RegisteredUsers","AppOpens"]].sum())

    muyqg.reset_index(inplace=True) 

    fig_line_1= px.line(muyqg, x= "States", y=["RegisteredUsers","AppOpens"], 
                            title=f"{quarter} QUARTER REGISTERED USERS AND APP OPENS", width=800, height=800, markers=True)

    fig_line_1.show()

    return muyq

In [12]:
#Map_User_Plot_3

def map_user_plot_3(df,states):

    muyqs=df[df["States"]== states]

    muyqs.reset_index(drop=True,inplace=True)

    fig_map_user_bar_1=px.bar(muyqs,y="RegisteredUsers", x="Districts", title=f" {states.upper()}REGISTERED USERS", height=600, 
                            color_discrete_sequence=px.colors.sequential.Darkmint)

    fig_map_user_bar_1.show()

    fig_map_user_bar_2=px.bar(muyqs,y="AppOpens", x="Districts", title=f" {states.upper()}REGISTERED USERS", height=600, 
                            color_discrete_sequence=px.colors.sequential.Rainbow)

    fig_map_user_bar_2.show()

In [55]:
#Top_Insurance_Plot_1

def Top_insur_plot_1(df,state):

    tiy=df[df["States"]==state]

    tiy.reset_index(drop=True,inplace=True)

    tiyg=(tiy.groupby("Pincodes")[["Transaction_count","Transaction_amount"]].sum())

    tiyg.reset_index(inplace=True) 

    fig_top_insur_bar_1=px.bar(tiy,x="Quarter", y="Transaction_count",hover_data="Pincodes", title=f" {state.upper()} STATE TOP INSURANCE TRANSACTION COUNT", height=600, 
                            color_discrete_sequence=px.colors.sequential.Rainbow_r)

    fig_top_insur_bar_1.show()

    fig_top_insur_bar_2=px.bar(tiy,x="Quarter", y="Transaction_amount",hover_data="Pincodes", title=f" {state.upper()} STATE TOP INSURANCE TRANSACTION AMOUNT", height=600, 
                            color_discrete_sequence=px.colors.sequential.Aggrnyl)

    fig_top_insur_bar_2.show()

In [ ]:

#Aggregated Insurance

tac_Y=Transaction_amount_count_Y(Aggre_insurance,2022)

In [ ]:
Transaction_amount_count_Y_Q(tac_Y, 1)

In [ ]:
#Aggregated Transaction_Year_Quarter

Aggre_tran_tac_Y=Transaction_amount_count_Y(Aggre_transaction,2022)

In [ ]:
Aggre_Tran_Transaction_type(Aggre_tran_tac_Y,"Kerala")

In [ ]:
Aggre_tran_tac_Y_Q=Transaction_amount_count_Y_Q(Aggre_tran_tac_Y, 1)

In [ ]:
Aggre_Tran_Transaction_type(Aggre_tran_tac_Y_Q,"Kerala")

In [ ]:

#Agrregated_User_analysis_year

Aggre_user_Y=Aggre_user_plot_1(Aggre_user, 2021)

In [ ]:
#Agrregated_User_analysis_Quarter

Aggre_user_Y_Q=Aggre_user_plot_2(Aggre_user_Y,3)

In [ ]:
Agrre_user_plot_3(Aggre_user_Y_Q,"West Bengal")

In [ ]:
#Map_Insurance

Map_insur_tac_Y=Transaction_amount_count_Y(map_insurance,2022)

In [ ]:
Map_Insur_District(Map_insur_tac_Y,"Tamil Nadu")

In [ ]:
Map_insur_tac_Y_Q=Transaction_amount_count_Y_Q(Map_insur_tac_Y, 1)

In [ ]:
Map_Insur_District(Map_insur_tac_Y_Q,"Kerala")

In [ ]:
#Map_Transaction

Map_tran_tac_Y=Transaction_amount_count_Y(map_transaction,2021)

In [ ]:
Map_Insur_District(Map_tran_tac_Y,"Tamil Nadu")

In [ ]:
Map_tran_tac_Y_Q=Transaction_amount_count_Y_Q(Map_tran_tac_Y, 1)

In [ ]:
Map_Insur_District(Map_tran_tac_Y_Q,"Kerala")

In [ ]:
#Map_User

#Map_User_Plot_1

map_user_Y=map_user_plot_1(map_user,2020)

In [ ]:
#Map_User_Plot_2

map_user_Y_Q=map_user_plot_2(map_user_Y,4)

In [ ]:
#Map_User_Plot_3


map_user_plot_3(map_user_Y_Q, "Delhi")

In [ ]:
#Top_Insurance_Analysis


Top_insur_tac_Y=Transaction_amount_count_Y(top_insurance,2020)

In [ ]:
#Top_Insurance_Plot_1

Top_insur_plot_1(Top_insur_tac_Y,"Delhi")

In [ ]:
#Top_Insurance_Quarter 

Top_insur_tac_Y_Q=Transaction_amount_count_Y_Q(Top_insur_tac_Y, 4)

In [63]:
top_transaction

,States,Years,Quarter,Pincodes,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2018,1,744101.0,1622,2769298
1,Andaman & Nicobar,2018,1,744103.0,1223,2238042
2,Andaman & Nicobar,2018,1,744102.0,969,3519060
3,Andaman & Nicobar,2018,1,744105.0,685,1298561
4,Andaman & Nicobar,2018,1,744104.0,340,1039715
...,...,...,...,...,...,...
73885,West Bengal,2023,3,700001.0,3536928,7193521561
73886,West Bengal,2023,3,721301.0,3464729,4871566033
73887,West Bengal,2023,3,700039.0,3405551,5095824624
73888,West Bengal,2023,3,732125.0,3347165,5353831211
73889,West Bengal,2023,3,700015.0,3304464,5003673712